@charset "utf-8";
/********************************** 
	TUI SKI
**********************************/


*
{
	margin: 0px auto 0px auto;
	/*bottom: 0;*/
}

body
{
	font: 1em Tahoma, Arial, Helvetica, sans-serif;
	font-style: normal; 
	color: #010000;
    background: #EFEFEF;	
}

a img
{
	border: none;
	background: none;
}

a
{
	color: #333;
	text-decoration: none;
}

a:hover
{
	color: #ee1d25;
}

#wrapper
{
	margin: 0px auto 0px auto;
	bottom: 0;
	width: 962px;
	height: auto;
	margin-top: 10px;
}


/**** Header ****/
#header
{
	width: 900px;
	padding: 43px 31px 0 31px;
	float: left;
	background: url(../images/wrapper-top_03.jpg) top no-repeat #fff;
}

#logo
{
	width: 900px;
	height: 25px;
	float: left;
	margin-bottom: 21px;
}

/*-- Navigation menu --*/
#navigation
{
	width: 740px;
	height: 28px;
	float: left;
	font-size: 90%;
	font-weight: bold;
	letter-spacing: 0.3px;
}

#navigation ul
{
	padding: 0;
}

#navigation ul, #navigation li
{
	float: left;
	height: 28px;
	list-style-type: none;
}

#navigation li
{
	float: left;
	margin-right: 13px;
}

#nav li a
{
	color: #333;
	padding: 5px 13px 7px 13px;
	font-weight: bold;
	text-align: center;
	float: left;
	text-decoration: none;
	background: none;
	position: relative;
}

#nav li a:hover
{
	color: #ee1d25;
	display: block;
	background: url(../images/header_12.jpg) repeat-x;
}

#nav li.current_nav_item a
{
	color: #ee1d25;
	display: block;
	background: url(../images/header_12.jpg) repeat-x;
}

.nav-item-bg-l, .nav-item-bg-r
{
	position: absolute;
	height: 28px;
	width: 4px;
	display: none;
	top: 0px;
}

.nav-item-bg-l
{
	background: url(../images/header_11.jpg) no-repeat;
	left: 0px;
}

.nav-item-bg-r
{
	background: url(../images/header_13.jpg) no-repeat;
	right: 0px;
}

#nav a:hover .nav-item-bg-l
{
	display: block;
}

#nav a:hover .nav-item-bg-r
{
	display: block;
}

#nav li.current_nav_item .nav-item-bg-l
{
	display: block;
}

#nav li.current_nav_item .nav-item-bg-r
{
	display: block;
}



#breadcrumb
{
	margin: 16px 0 22px 0;
	width: 900px;
	height: 13px;
	font-size: 65%;
	color: #999;
	float: left;
}

#breadcrumb a
{
	color: #0750a4;
	text-decoration: underline;
}

/**** Content ****/
#content-body
{
	margin:0;
	padding: 0 25px 25px 25px;
	background: url(../images/content-bg_34.jpg) repeat-y #fff;
	float: left;
}

#main
{
	width: 687px;
	float: left;
}

#photo-viewer
{
	margin-top: 18px;
}

#photo-main
{
	position: relative;
}

h3 {
    color: #7E7276;
}

h3.heading { font-size: 120%;}



/**** Offers and Deals ****/
#offers
{
	position: relative;
	font-size: 80%;
	width: 655px;
	padding: 30px 5px 0 5px;
	background: url(../images/offers-top-bg_30.jpg) no-repeat top;
	float: left;
}

h1, h2{
	position: absolute;
	top: -13px;
	left: 20px;
	float: left;
	color: #fff;
	background-color: #626262;
	padding: 8px 7px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
	height: 18px;
	display: block;
	font-weight: bold;
	font-size: 1.2em;
}



.red
{
	color: #ed1d24;
}

#intro-title{
	font-weight: bold;
	float: left;
	width: 100%;
}

#intro-copy{
	font-size: 90%;
	float: left;
}

/**** Packages Offers List ****/
.list-tiny
{
	font-size: 90%;
}

.list-large
{
	font-size: 120%;
	font-weight: bold;
}

#packages
{
	width: 653px;
	padding: 0;
	margin:0 5px;
	float: left;
	border: 1px solid #dfddde;
	border-top: none;
}

.package-list
{
	width: 653px;
	font-size: 70%;
	text-align: left;
	border-collapse: collapse;
	
}

.package-list a
{
	color: #0750a4;
	text-decoration: underline;
}

.package-list th
{
	text-align: left;
}

.package-list tr
{
	border-bottom: 2px solid #fff;
}

.package-list tbody tr
{
	background-color: #f5f5f5;
	height: 40px;
}

.package-list td, .package-list th
{
	padding-left: 10px;
}

td.rating0 {text-align: center;/*text-indent: -9999px;*/}
td.rating1 {background: url("../images/rating1.png") no-repeat center center; text-indent: -9999px;}
td.rating2 {background: url("../images/rating2.png") no-repeat center center; text-indent: -9999px;}
td.rating3 {background: url("../images/rating3.png") no-repeat center center; text-indent: -9999px;}
td.rating4 {background: url("../images/rating4.png") no-repeat center center; text-indent: -9999px;}
td.rating5 {background: url("../images/rating5.png") no-repeat center center; text-indent: -9999px;}

/*th.rating {font-size: 60%;}*/

.package-list tr.active
{ 
	background-color: #d2e1e9;
	cursor: pointer;
}

.package-list tbody tr td .list-arrow, .package-list tbody tr.active td .list-arrow
{
	width: 12px;
	height: 13px;
	display: block;
}

.package-list tbody tr td .list-arrow
{
	background: url(../images/list-arrow-black.png) no-repeat;
}

.package-list tbody tr.active td .list-arrow
{
	background: url(../images/list-arrow-red.png) no-repeat;
}

/**** Sidebar ****/
#sidebar{
	width: 185px;	
	float: left;
	padding: 15px 20px;
	background: url(../images/sidebar_bg_29.jpg) top no-repeat #eee;
}

.sidebar-title{
	font-weight: bold;
	font-size: 100%;
}




































/**************************/
ul, li{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

input{
	margin-right: 5px;
}

#offers-intro{
	width: 655px;
	float: left;
}

#filter-holder{
	width:623px;
	float: left;
	position: relative;
	background-color: #f3f1f2;
	padding:15px;
	border: 1px solid #e1ddde;
	-webkit-border-radius: 6px 6px 0px 0px;
	border-radius: 6px 6px 0px 0px; 
    display: none;
}

#showHideFilters{
	width:623px;
	display: inline-block;
}

#showHideFilters a{
	font-weight: bold;
	float: right;
	padding-right: 20px;
	text-decoration: underline;
	margin-top: 20px;
	background: url(../images/down.png) no-repeat right 50%;
}

#showHideFilters a.close{
	background: url(../images/up.png) no-repeat right 50%;
}

#destinationCount{
	float: left;
	width:623px;
 	border: 1px solid #e1ddde;
	border-top: none;
	padding: 10px 15px;
}

#resortCount{
	float: right;
	font-size: 1.2em;
    font-weight: bold;
	padding: 0px 0px;
}

#resortCount span{
	color: #7e7276;
}

#destinationCount #clearFilters{
	float: right;
	font-weight: bold;
}
#destinationCount #clearFilters a{
	float: right;
	font-weight: bold;
	text-decoration: underline;
}

.package-list thead tr{
	background-color: #e2e2e2;
}

.filters{
	width: 124px;
	float: left;
}

.filters span{
	font-weight: bold;
	display: block;
    margin: 10px 0 5px 0;
}

.filters ul li {
	position: relative;
	padding: 3px 0;
}

.filters ul li span.itemName {
	display: inline-block;
    font-weight: normal;
	padding: 0 0 0 18px;
	margin: 0;
	max-width:100px;
	/*word-wrap:break-word;*/
}

.filters ul li span.itemName span.itemCount {
    color: #a9a9a9;
    display: inline-block;
    font-size: 0.857em;
	font-weight:normal;
	margin: 0;
	padding: 0 0 0 0;
	position: relative;
	top: -1px;
}

.filters ul li input{
	position: absolute;
	top: 5px;
}

.package-list th {
	padding: 10px;
}
.package-list th:hover {
	cursor: pointer;
}

.hide
{
	display:none;
}

/*
.package-list th.header {background: url("../images/ui-icons_ffffff_256x240.png") no-repeat right center; overflow: hidden;}
.package-list th.header.headerSortDown {background-position: -64px -48px;}
*/


/*Tabs overrides*/
/*.ui-tabs-nav .ui-icon {display: inline-block; background-position: -64px -13px;}
#offers .ui-tabs .ui-tabs-nav li a {float: left; padding: 10px 18px; text-decoration: none;}
.ui-tabs-nav li:hover {border: none;background: red;}	
.ui-tabs-nav li a:hover {background: red;}
#offers .ui-tabs .ui-tabs-nav li {margin: 0px;}
#offers #tabs, #offers #tabs .ui-corner-all {border-radius: 0px; border:1px solid #e1ddde;}
#offers #tabs {float: left; width: 653px; padding: 0; font-size: 90%;}
#offers .ui-widget-header {border: 0 none; padding: 0;}
#offers .ui-state-default,#offers .ui-widget-content .ui-state-default,#offers .ui-widget-header .ui-state-default {background: none; border-radius: 0px ;}
#offers .ui-state-default a ,#offers .ui-widget-content .ui-state-default,#offers .ui-widget-header .ui-state-default {}
#offers.ui-state-active,#offers .ui-widget-content .ui-state-active,#offers .ui-widget-header .ui-state-active {background: #fff; border-radius: 0px; border: 0 none;}
#offers h3 {padding-bottom: 10px;}*/

/*#offers #tabs-1 .filter ul li {float: left;}*/

.filter ul {background-color: #f3f3f3;padding: 15px; margin: 0 15px 20px 0; float: left; width: 26%;}
.filter ul li {padding: 5px 0;}
.closebutton {float: right; clear: both; margin-bottom: 15px;}


#package-list thead tr .header {
    background-image: url("../images/bg.gif");
    background-position: right center;
    background-repeat: no-repeat;
    cursor: pointer;
}

#package-list thead tr .headerSortUp {
    background-image: url("../images/asc.gif");
}

#package-list thead tr .headerSortDown {
    background-image: url("../images/desc.gif");
}

.filter ul li.TerrainParks:hover:after {    background: #333;
background: rgba(0,0,0,.8);
border-radius: 5px;
bottom: 26px;
color: #fff;
content: "This is a test tooltip boom";
left: 20%;
padding: 5px 15px;
position: absolute;
z-index: 98;
width: 220px;
}
	
.filter ul li.TerrainParks:hover:before {
border: solid;
border-color: #333 transparent;
border-width: 6px 6px 0 6px;
bottom: 20px;
content: "";
left: 50%;
position: absolute;
z-index: 99;


}
	
.filter ul li.TerrainParks{
display: inline-block;
position: relative;
background: url("../images/information-icon.png") no-repeat right center;
padding-right: 15px;
}
#display_text_here {float: left; width: 520px;}

#display_text_here li {float: left;     background-color: #F3F3F3;
    background-image: url("../images/close-icon.png");
    border-radius: 15px;
    margin-right: 5px;
	margin-bottom: 5px;
    padding: 5px 20px 5px 5px;
	background-repeat: no-repeat;
	background-position: right center;
	}
	
	#display_text_here li:hover {cursor: pointer;}

	
	#package-list {float: left; width: 655px; /*display: table;*/ font-size: 80%; padding-left: 5px;}
#package-list ul li.package {float: left; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; border-left: 1px solid #ccc; border-right: 1px solid #ccc; margin-bottom: 5px;}
#package-list ul li.package:hover {background: #f3f3f3; cursor: pointer;}


#package-list ul li.active div.good-for {background: #ecebec url("../images/cross.png") no-repeat top right;

-webkit-transition: visibility 0.2s linear, opacity 0.2s linear; -moz-transition: visibility 0.2s linear, opacity 0.2s linear; -o-transition: visibility 0.2s linear, opacity 0.2s linear;

}



#package-list ul li .row {background: #ccc; margin-bottom: 10px; display: table-row; vertical-align: top;}

#package-list ul li div {/*display: table-cell;*/ float: left; /*min-height: 16px;*/}
#package-list ul li div.resort-bio {padding: 10px; width: 300px;}
#package-list ul li div.good-for {float: right; width: 135px; border-left: 1px solid #ccc; min-height: 130px; background: #ecebec; padding: 10px 20px;}
#package-list ul li div.resort-links {padding: 10px; width: 114px; border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; min-height: 72px;}
#package-list ul li div.resort-links a {display: block; font-weight: bold; font-size: 90%; text-decoration: underline; line-height: 20px;}
/*#package-list ul li div.resort-links div {margin-top: 60px;}*/


div.good-for ul ol {padding: 0px; clear: both;}
div.good-for ul {margin-top: 10px;}

div.good-for .more-details {display: block; clear: both; float: right; margin-top: 15px; text-decoration: underline;}


.expanded-info {background: red; height: 158px;
    width: 653px;
	padding: 0;
	margin: 0;
	border-top: 1px solid #ccc;
	}
	
	.expanded-info  img {padding: 0; margin: 0;}


.row .resort {width: 120px; border-right: 1px solid #ccc; /*display: table-cell;*/ padding: 10px; min-height: 130px;}
.row .resort img {padding-top: 10px;}


.row .country {width: 70px; border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; text-align: center;/*display: table-cell;*/ padding: 20px;}
.row .height {width: 40px; border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; text-align: center; /*display: table-cell;*/ padding: 20px;}
.row .snow-range {width: 104px; border-bottom: 1px solid #ccc; text-align: center;/*display: table-cell;*/ padding: 20px; }
/*.row .rating,
.row .rating0,
.row .rating1,
.row .rating2,
.row .rating3,
.row .rating4,
.row .rating5
 {width: 44px; border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; text-align: center; padding: 10px; }
*/
 
.rating0 {text-align: center;/*text-indent: -9999px;*/}
.rating1 {background: url("../images/rating1.png") no-repeat center 5px; text-indent: -9999px; display: block; float: right; width: 10px;}
.rating2 {background: url("../images/rating2.png") no-repeat center 5px; text-indent: -9999px; display: block; float: right; width: 20px;}
.rating3 {background: url("../images/rating3.png") no-repeat center 5px; text-indent: -9999px; display: block; float: right; width: 30px;}
.rating4 {background: url("../images/rating4.png") no-repeat center 5px; text-indent: -9999px; display: block; float: right; width: 40px;}
.rating5 {background: url("../images/rating5.png") no-repeat center 5px; text-indent: -9999px; display: block; float: right; width: 50px;}

.header {font-size: 80%; background: #EEE; float: left; margin-left: 5px; width: 653px; border-left: 1px solid #ccc; border-right: 1px solid #ccc;}
.header .resort-header {float: left; width: 120px; padding: 10px; min-height: 30px; background: url("../images/bg.gif") no-repeat right 13px; }
.header .country-header {float: left; width: 90px; padding: 10px; border-left: 1px solid #ccc; min-height: 30px; background: url("../images/bg.gif") no-repeat right 13px;}
.header .height-header {float: left; width: 60px; padding: 10px; border-left: 1px solid #ccc; min-height: 30px; background: url("../images/bg.gif") no-repeat right 13px;}
.header .snow-range-header {float: left; width: 124px; padding: 10px; border-left: 1px solid #ccc; min-height: 30px; background: url("../images/bg.gif") no-repeat right 13px;}
.header .rating-header {    border-left: 1px solid #CCCCCC; float: right; padding: 10px 0; text-align: center; width: 175px; min-height: 30px; background: url("../images/bg.gif") no-repeat right 13px;}
.header small {display: block;}

#package-list ul.information {border-top: none; margin-top: 24px;}
#package-list ul.information ol {float: left; margin-right: 15px; background: url("../images/information-icon.png") no-repeat scroll left center transparent; padding-left: 15px;}

.ui-tooltip
	{
	    font-size: 70% !important;
		height: 10px !important; 
	}
	
a.external {text-decoration: underline; /*font-weight: bold;*/

 background-image: url("../images/externalshort.png");
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 20px;
}

.order-by ul {border-top: none;}



/*megamenu overrides*/
.megadropdown li {
	margin: 10px 3px 0 0 !important;
}

/*End megamenu overrides*/
#where-to-go {
  margin-top: 15px;
  width: 655px;
  font-size: 120%;
}

#where-to-go h3 {color: #7E7276;}
#where-to-go ul {border-top: 1px solid #ccc; margin-top: 10px;}
#where-to-go ul li {padding: 10px 0 10px 0; border-bottom: 1px solid #ccc;}
#where-to-go ul li:hover {cursor: pointer; background: #fefefe;}

#where-to-go ul li.active p {background-position: 2px -18px;}
#where-to-go ul li p {
    background: url("../images/plus.png") no-repeat scroll 2px 2px transparent;
    font-size: 80%;
    line-height: 1.6em;
    padding-left: 30px;
}

.accordian-resort {
  padding: 0;
  margin: 0;
  width: 655px;
  height: 536px;
}

.row {/*postion: fixed;*/}
.header-wrap {height: 50px;}



.resortWrapper {height: 20px; padding: 10px; margin-top: 15px;}

h3.heading {
    float: left;
    font-size: 120%;
    padding: 0;
}





.subNav.threeCol .col li.Europe, .subNav.threeCol .col li.ROW {border-bottom: 1px solid #ccc !important; padding-bottom: 10px !important;}
.subNav.threeCol .col {border-right: 1px solid #ccc !important; width: 149px !important;}
.subNav.threeCol .col:nth-child(3) {border-right: 0 none !important;}

.subNav.threeCol .col h3 {border-bottom: 1px solid #ccc !important; padding-bottom: 9px !important;}

